<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>E-compre</display-name>
  <servlet>
    <description></description>
    <display-name>CadastrarProdutoServlet</display-name>
    <servlet-name>CadastrarProdutoServlet</servlet-name>
    <servlet-class>controller.produto.CadastrarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarProdutoServlet</servlet-name>
    <url-pattern>/CadastrarProdutoServlet</url-pattern>
    <url-pattern>/produto/cadastrar</url-pattern>
    <url-pattern>/produto/novo</url-pattern>
    <url-pattern>/produto/adicionar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarProdutosServlet</display-name>
    <servlet-name>ListarProdutosServlet</servlet-name>
    <servlet-class>controller.produto.ListarProdutosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarProdutosServlet</servlet-name>
    <url-pattern>/produto/listar</url-pattern>
    <url-pattern>/produto/consultar</url-pattern>
    <url-pattern>/produto/visualizar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarProdutoServlet</display-name>
    <servlet-name>EditarProdutoServlet</servlet-name>
    <servlet-class>controller.produto.EditarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarProdutoServlet</servlet-name>
    <url-pattern>/produto/editar</url-pattern>
    <url-pattern>/produto/alterar</url-pattern>
    <url-pattern>/produto/atualizar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarVendaServlet</display-name>
    <servlet-name>RegistrarVendaServlet</servlet-name>
    <servlet-class>controller.venda.RegistrarVendaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarVendaServlet</servlet-name>
    <url-pattern>/venda/registrar</url-pattern>
    <url-pattern>/venda/cadastrar</url-pattern>
    <url-pattern>/venda/new</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarCompraServlet</display-name>
    <servlet-name>RegistrarCompraServlet</servlet-name>
    <servlet-class>controller.compra.RegistrarCompraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarCompraServlet</servlet-name>
    <url-pattern>/compra/new</url-pattern>
    <url-pattern>/compra/registrar</url-pattern>
    <url-pattern>/compra/adicionar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarComprasServlet</display-name>
    <servlet-name>ListarComprasServlet</servlet-name>
    <servlet-class>controller.compra.ListarComprasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarComprasServlet</servlet-name>
    <url-pattern>/compras/listar</url-pattern>
    <url-pattern>/compras/ver</url-pattern>
    <url-pattern>/compras/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirProdutoServlet</display-name>
    <servlet-name>ExcluirProdutoServlet</servlet-name>
    <servlet-class>controller.produto.ExcluirProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirProdutoServlet</servlet-name>
    <url-pattern>/produto/excluir</url-pattern>
    <url-pattern>/produto/remover</url-pattern>
    <url-pattern>/produto/apagar</url-pattern>
  </servlet-mapping>
</web-app>